*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
assets
sites

# YARD artifacts
.yardoc
_yardoc
doc/

# Vagrant artifacts
.vagrant

.DS_Store

# These are default in the project but other roles should be ignored
chef/roles/*
!chef/roles/base.json
!chef/roles/example.json
!chef/roles/nfs_export.json
